body {
  max-width: 960px;
  margin: auto;
  font-family: "Roboto Slab", serif;
  color: #2d3c49;
}

.conatiner {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

* {
  box-sizing: border-box;
}

a,a:hover,a:visited {
  color: #2d3c49;
}

img {
  max-width: 100%;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  font-size: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row:after, .row:before {
  display: table;
  content: " ";
}

.col-12,
.col-6,
.col-4 {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33333333%;
}

.upper-case {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

p {
  word-wrap: break-word;
}

header {
  border-bottom: 5px solid #7d97ad;
}

section>h2 {
  color: #7d97ad;
  font-size: initial;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 26px;
}

article>h3 {
  color: #FFF;
  background-color: #2d3c49;
  padding: 5px;
}

iframe {
  max-width: 100%;
  border: 0;
}

.flex-block{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-block>h2{
  flex: 1 100%;
}

@media screen and (max-width:768px) {
  .col-6 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  header,header .text-right {
    text-align: center;
  }
}